<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cart</title>
<link rel="stylesheet" type="text/css" href="/css/items.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css">
</head>
<body>
	<header th:replace="header"></header>
	
	<main>
		<div class="title">
		カート商品
		</div>
	    <span th:replace="cartItem"></span>
	    <form action="/order" >
	        <button class="btn order">注文する</button>
	    </form>
	</main>

	
</body>
</html>


<!--やること
①カート商品
②ご注文商品
③お客様情報を入力してください
④下記の内容で注文を行いますか？
 ご注文商品
⑤お客様情報
-->